/* .accordion-button {
  background-color: white !important;
}

.accordion-button:focus {
  border-color:  #d9e2ef;
  box-shadow: 0 0 0 0.25rem rgba(183, 190, 199, 0.333);

}

.accordion-button:not(.collapsed) {
    color: #467fd0;
    background-color: #f1f4f8 !important;
}

 */
